name: C/C++ CI

on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Cache assets
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: tmp
        key: ${{ runner.os }}-build-${{ hashFiles('Makefile') }}
        restore-keys: |
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: test
      run: make test_on_docker
      env:
        DIST: github
