on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
env:
    COMPOSE_FILE: docker-compose.yaml
name: Release
jobs:
  build:
    timeout-minutes: 1440
    strategy:
      matrix:
        arch:
          - arm64
          - amd64
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3
        with:
            platforms: linux/${{ matrix.arch}}
      - name: build
        run: make pkg
        env:
          DOCKER_DEFAULT_PLATFORM: linux/${{ matrix.arch}}
      - name: donwload ghr
        run: |
          curl -L -O -s https://github.com/tcnksm/ghr/releases/download/v0.16.2/ghr_v0.16.2_linux_amd64.tar.gz
          tar zxf ghr_v0.16.2_linux_amd64.tar.gz
          sudo mv ghr_v0.16.2_linux_amd64/ghr /usr/bin
      - name: release
        run: make github_release
